<h1>Welcome to the Page</h1>
<div class="slide"><!--<link href="./style.css" type="text/css" rel="stylesheet">-->
  <img src="image\bruhim.jpg" height="80px" width="161px" />
  <img src="image\bniyan.jpg" height="80px" width="161px" />
  <img src="image\finnasim.jpg" height="80px" width="161px" />
  <img src="image\hashmal.jpg" height="80px" width="161px" />
  <img src="image\mahshevim.jpg" height="80px" width="161px" />
  <img src="image\handasaim.jpg" height="80px" width="161px" />
  <img src="image\tahbura.jpg" height="80px" width="161px" />
  </div>
